* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.shadow {
  box-shadow: 0px 2px 5px #dcdcdc;
}

.heading-text {
  font-size: 2.5rem;
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
}

.form {
  display: flex;
}
.form div:last-child {
  margin-left: auto;
}

.search-bar {
  border: 1px solid rgb(160, 158, 158);
  border-radius: 0.5rem;
  width: 30rem;
  height: 5rem;
  padding: 1rem;
  margin: 2rem;
  outline: none;
  font-size: 1.5rem;
}

.countries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.card {
  border: 0.5px solid grey;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card:hover {
  transform: scale(1.05);
}

.margin-top-20 {
  margin-top: 2rem;
}

.container {
  padding: 0 35px;
}

.flag {
  width: 100%;
  object-fit: cover;
  height: 25rem;
}

.content {
  padding: 2rem;
}

.country-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.content div {
  font-size: 1.8rem;
  list-style: none;
}

.content div span {
  color: hsl(0, 0%, 52%);
}

.region {
  border: 1px solid rgb(160, 158, 158);
  width: 20rem;
  height: 5rem;
  margin: 2rem;
  font-size: 1.5rem;
  outline: none;
}

.button {
  padding: 1rem;
  border: 1px solid rgb(160, 158, 158);
  margin: auto 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  outline: none;
}

.country-container {
  width: 95%;
  margin: 10rem auto;
  display: flex;
}

.country-container .flag {
  height: 50rem;
  width: 60%;
}

.country-container .content {
  margin-left: 5rem;
}

.border-lists {
  display: inline-block;
  width: 8rem;
  text-align: center;
  margin: 3rem 0.5rem 0rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(123, 120, 120);
}

.languages {
  display: inline-block;
  padding-left: 0.5rem;
}

.languages:not(:last-child):after {
  content: ',';
}

@media only screen and (max-width: 700px) {
  .form {
    display: block;
  }

  .countries {
    display: block;
  }

  .card {
    width: 80%;
    margin: 1rem auto;
  }

  .country-container {
    display: block;
    text-align: center;
  }

  .country-container .flag {
    height: 20rem;
  }

  .country-container .content {
    text-align: left;
    margin-left: 0rem;
  }
  .country-container .flag {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .countries {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  .country-container {
    display: block;
    text-align: center;
  }

  .country-container .flag {
    width: 100%;
    height: auto;
  }
}
